# Build outputs
bin/
obj/

# Visual Studio
.vs/
*.user

# NuGet
*.nupkg
**/packages/

# OS
.DS_Store
Thumbs.db

# WixSharp 生成物
WondayWall.Wix/generated/

# パッケージ出力
publish/
artifacts/

# XcodeGen 生成物
WondayWall.iOS/WondayWall.xcodeproj/*
!WondayWall.iOS/WondayWall.xcodeproj/project.xcworkspace/
WondayWall.iOS/WondayWall.xcodeproj/project.xcworkspace/*
!WondayWall.iOS/WondayWall.xcodeproj/project.xcworkspace/xcshareddata/
WondayWall.iOS/WondayWall.xcodeproj/project.xcworkspace/xcshareddata/*
!WondayWall.iOS/WondayWall.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
WondayWall.iOS/WondayWall.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
!WondayWall.iOS/WondayWall.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

## User settings
xcuserdata/

*_todo.md
buildServer.json
